body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-grey);
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .container {
    width: 1170px;
    margin: 0 auto;
  }
  
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .list-style-none {
    list-style: none;
  }